.switch {
  background-color: #AEAFAF;
  border-radius: 50px;
  height: 24px;
  width: 50px;
}

.switch::before {
  content: '';
  position: absolute;
  transition: all .4s ease;
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  left: 4px;
  top: 2px;
}

.switch.active::before {
  left: 26px;
}