.contact-main-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.contact-main-div1 {
  max-width: 660px;
}

.contact-m-h1 {
  letter-spacing: 80;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.1;
}

.contact-m-ul li {
  margin-left: 16px;
  margin-bottom: 4px;
  color: #fff;
  list-style: disc;
}

.contact-m-h2 {
  font-size: 24px;
}

.contact-m-p {
  font-weight: 500;
  font-size: 24px;
}

.contact-main-form {
  margin-left: auto;
  max-width: 420px;

  h2 {
    background-color: #EBFEF1;
    font-weight: 700;
    font-size: 26px;
    padding: .5rem 1rem;
    color: #031B4E;
  }

  div {
    background-color: #FFF;
    padding: 1rem 2rem;
  }

  input {
    font-size: 15px;
    border: 1px solid #E5E8ED;

    &::placeholder {
      color: #C9C9C9;
    }
  }

  p {
    margin-bottom: 1rem;
    font-size: 11px;
    color: #C9C9C9;
  }

  button {
    display: block;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
  }
}

.contact-footer {
  font-size: 18px;

  img {
    width: 15rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1200px) {
  .contact-m-h1 {
    font-size: 45px;
  }
}

@media (max-width: 768px) {
  .contact-m-h1 {
    font-size: 35px;
  }
  
  .contact-m-h2 {
    font-size: 22px;
  }
  
  .contact-m-p {
    font-size: 18px;
  }
  
  .contact-m-ul {
    font-size: 12px;
  }
  
  .contact-main-form {
    h2 {
      font-size: 20px;
    }

    div {
      padding: 1rem;
    }  
    
    p {
      font-size: 10px;
    }
  
    button {
      font-size: 16px;
    }
  }
  
  .contact-footer {
    font-size: 16px;

    img {
      width: 12rem;
      margin-bottom: 1.5rem;
    }
  }
}

@media (max-width: 600px) {
  .contact-main-header {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-main-form {
    margin-left: 0;
    max-width: 100%;
  }  
}

@media (max-width: 411px) {
  .contact-m-h1 {
    font-size: 30px;
  }
  
  .contact-m-h2 {
    font-size: 20px;
  }
  
  .contact-m-p {
    font-size: 22px;
  }
  
  .contact-m-ul {
    font-size: 16px;
  }
  
  .contact-main-form {
    h2 {
      font-size: 26px;
    }
  
    input,
    p {
      font-size: 12px;
    }
  }
  
  .contact-footer {
    font-size: 18px;

    img {
      width: 10rem;
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 375px) {
  .contact-m-h1 {
    font-size: 26px;
  }
}
