.detail-arr {
  transform: rotateY(180deg);

  path {
    stroke: #000;
  }
}

.detail-job {
  div.df p {
    font-size: 18px;
  }

  div.p-16 {
    margin-left: .5rem;
    font-size: 14px;

    p,
    ul {
      margin-bottom: 1rem;
    }
  }

  h1 {
    font-size: 32px;
  }

  h5 {
    font-size: 15px;
    font-weight: bolder;
    margin: .5rem 0;
  }

  ul li {
    list-style: disc;
    margin-left: 2rem;
  }
}

@media (max-width: 411px) {
  .detail-job {
    div.df {
      justify-content: center;
    }

    div.df p {
      font-size: 15px;
    }

    div.p-16 {
      padding: .2rem;
      margin-left: 0;
      font-size: 12px;
    }

    h1 {
      font-size: 20px;
    }

    h5 {
      font-size: 14px;
    }

    ul li {
      margin-left: 1rem;
    }

    h1,
    .detail-job-type {
      text-align: center;
    }
  }
}