.home-header-h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 1.2;
}

.home-header-p {
  font-size: 18px;
  font-weight: 500;
}

.home-header-btn {
  font-weight: 600;
}

.cube-img {
  position: absolute;
  width: 500px;
  bottom: 0;
  left: 0;
  transform: translate(-40%, 48px);
}

// offer
.home-offer {
  --max-width: 1150px;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 3rem;
}

.offer-right-img{
  width: 64px;
  height: 64px;
}

.arrow-in-tabval{
  width: 20px;
  height: 20px;
}

.arrow-in-tabval path {
  stroke: #000;
}

.offer-h1 {
  font-size: 35px;
  font-weight: bold;
}

.offer-p {
  font-size: 18px;
}

.tab-heade-h3 {
  font-size: 23px;
  font-weight: 700;
}

.tab-info-p {
  font-size: 15px;
  font-weight: 500;
}

.tab-ind {
  display: none;
}

.tab-indicator {
  width: 50px;
  height: 3px;
  background-color: #DAD7D7;
}

.tab-indicator.active {
  background-color: var(--primar-clr);
}

.offer-right {
  padding: 1rem;
  background-color: #F5F5F5;
  max-width: 450px;
  margin: 0 auto;
}

.offer-right img.tick {
  margin-top: 4px;
  width: 15px;
}

.to-br {
  padding: 1rem 2rem 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.offer-right button {
  width: 256px;
  font-size: 13px;
}


// stacks
.stack-h1 {
  font-size: 40px;
  font-weight: 700;
}

.stack-sec1-imgs {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 1rem;

  img {
    width: 12rem;
  }

  .wms-img,
  .corda-img {
    width: 8rem;    
  }
  
  .rust-img {
    width: 6rem;    
  }  

  .hyper-img {
    width: 10rem;
  }
}

.stack-sec2-imgs {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.stack-btns {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.stack-btns::-webkit-scrollbar,
.stack-sec2-imgs::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.stack-btns button {
  border: 1px solid #707070;
  background-color: transparent;
  white-space: nowrap;
  color: #fff;
}


// platform
.plotforms-list {
  --max-width: 900px;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;

  .fs-13 {
    font-size: 13px;
  }
}

.plat-h1 {
  font-size: 30px;
}

.hp-cont>div:first-child {
  margin: 0 auto;
  height: 70px;
  width: 70px;
}

// blog
.homeblog-cont {
  max-width: 900px;
  margin: 1rem auto;
}

.home-blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-between;
  gap: 2rem;
}

.blog-h1 {
  font-size: 40px;
}

.blog-sec-p {
  font-size: 20px;
}

.blog-img {
  height: 150px;
  background-color: var(--primar-clr);
}

.read-more {
  font-size: 14px;
  color: var(--primar-clr);
}

.read-more img {
  width: .5rem;
}

.blog-continue button {
  margin: 0 auto;
  padding: 8px 16px;
  background-color: var(--primar-clr);
  font-size: 15px;
  color: #fff;
}

.chat-bot svg {
  width: 60px;
  height: 60px;
}

// final
.home-final {
  justify-content: space-evenly;
  color: rgba(26, 26, 26);
}

.home-final-h1 {
  font-size: 38px;
}

.home-final img {
  width: 57px;
  height: 57px;
}

.home-final button {
  font-size: 15px;
  border: 2px solid rgba(26, 26, 26);
}

@media (max-width: 900px) {
  .home-offer {
    gap: 1rem;
  }

  .to-br {
    padding: 1rem 1rem 0;
  }
}

@media (max-width: 768px) {
  .home-header-h1 {
    font-size: 40px;
  }
  
  .home-header-p {
    font-weight: 400;
  }
  
  .home-header-btn {
    font-size: 14px;
  }

  .cube-img {
    width: 300px;
    bottom: 18px;
  }  
  
  .offer-h1 {
    font-size: 25px;
  }

  .offer-p {
    font-size: 15px;
  }

  .tab-heade-h3 {
    font-size: 18px;
  }

  .tab-info-p {
    font-size: 14px;
  }

  // blog
  .home-blog-list {
    gap: 1rem;
  }

  .blog-sec-p {
    font-size: 15px;
  }

  .home-final {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .home-final-h1 {
    font-size: 30px;
    text-align: left;
  }

  // stack
  .stack-h1 {
    font-size: 30px;
  }  

  .stack-btns button {
   font-size: 14px;
  }  

  .stack-sec1-imgs {
    display: block;
    text-align: center;

    img {
      margin: 1rem;
      width: 10rem;
    }
  
    .wms-img,
    .corda-img {
      width: 6rem;    
    }
    
    .rust-img {
      width: 4rem;    
    }  
  
    .hyper-img {
      width: 8rem;
    }
  }
}

@media (max-width: 650px) {
  .home-offer {
    grid-template-columns: 1fr;
  }

  .offer-right {
    display: none;
  }

  .offer-right.active,
  .tab-ind {
    display: flex;
  }
}

@media (max-width: 576px) {
  .cube-img {
    width: 250px;
    transform: translate(-40%, 42px);
  }
  
  .home-blog-list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  // platform
  .plotforms-list {
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
  }
}

@media (max-width: 540px) {
  .offer-h1 {
    font-size: 20px;
  }

  .offer-p {
    font-size: 10px;
  }

  // .tab-heade-h3 {
  //   font-size: 23px;
  // }

  // .tab-info-p {
  //   font-size: 15px;
  // }

  .plat-h1 {
    font-size: 23px;
  }

  .blog-h1 {
    font-size: 35px;
  }

  .home-final-h1 {
    font-size: 25px;
  }
}

@media (max-width: 411px) {
  .home-header{
    text-align: center;
  }
  
  .cube-img {
    width: 200px;
    bottom: 28px;
  }  

  .home-header-h1 {
    font-size: 20px;
  }
  
  .home-header-p {
    font-size: 14px;
    font-weight: 500;
  }
  
  .offer-h1 {
    font-size: 15px;
  }

  // .tab-info-p {
  //   font-size: 12px;
  // }

  // stack
  .stack-h1 {
    font-size: 22px;
  }  

  .stack-sec1-imgs {
    img {
      width: 8rem;
    }
  
    .wms-img,
    .corda-img {
      width: 4rem;    
    }
    
    .rust-img {
      width: 2rem;    
    }  
  
    .hyper-img {
      width: 6rem;
    }
  }

  .stack-sec2-imgs {
    grid-template-columns: repeat(3, 1fr);
  }

  .plat-h1 {
    font-size: 20px;
  }

  .blog-h1 {
    font-size: 25px;
  }
}

@media (max-width: 375px) {
  .home-header-p {
    font-size: 13px;
  }

  .offer-h1 {
    font-size: 14px;
  }

  .offer-p {
    font-size: 12px;
  }

  .plat-h1 {
    font-size: 18px;
  }

  .home-final-h1 {
    font-size: 23px;
  }

  .home-final button {
    font-size: 12px;
  }
}

// @media (max-width: 360px) {}

@media (max-width: 280px) {
  // .tab-heade-h3 {
  //   font-size: 15px;
  // }

  // .tab-info-p {
  //   font-size: 9px;
  // }

  .offer-right img.tick {
    margin-top: 5px;
    width: 10px;
  }

  .offer-right button {
    width: 167px;
    font-size: 10px;
  }

  .plat-h1 {
    font-size: 14px;
  }

  .plotforms-list .fs-13 {
    font-size: 11px;
  }

  .blog-h1 {
    font-size: 16px;
  }

  .blog-sec-p {
    font-size: 12px;
  }

  .home-final-h1 {
    font-size: 19px;
  }
}
