.sc-service-header {
  div {
    max-width: 830px;
  }

  h1 {
    font-size: 65px;
    line-height: 1;
  }

  button {
    font-size: 23px;
    padding: .5rem 1.8rem;
  }
}

.sc-service-sec2 {
  h1 {
    font-size: 35px;
  }

  img {
    width: 40px;
  }

  div.mb-16,
  strong {
    font-size: 22px;
  }

  .grid-2 {
    column-gap: .6rem;
    row-gap: 1.5rem;
  }
}

.sc-service-sec3 {
  h3 {
    font-size: 35px;
    max-width: 580px;
    line-height: 1.1;
  }

  p {
    font-size: 20px;
    color: #707070;
    margin-bottom: 5px;
  }

  p.active {
    color: $primary;
  }
}

.sc-service-final {
  min-height: 300px;
  position: relative;

  >div:not(.dash) {
    justify-content: space-between;
    width: 100%;
    padding-left: 1rem;
  }

  div.dash {
    position: absolute;
    width: .5rem;
    background-color: #fff;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
  }

  h2 {
    font-size: 35px;
    --max-width: 600px;
    line-height: 1.2;
  }

  button {
    border: 1px solid #707070;
    padding: .6rem 3.6rem;
    font-size: 30px;
  }
}