// @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=DM+Sans&display=swap');

:root {
  --primar-clr: hsl(138, 71%, 46%);
  --black-clr: hsl(0, 0%, 10%);
}

$primary: var(--primar-clr);
$black: var(--black-clr);

// body {
//   font-family: "Montserrat";
// }

// h1,
// h2 {
//   font-family: "Roboto";
// }

// input:focus {
//   outline: none;
// }