@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primar-clr: hsl(138, 71%, 46%);
  --black-clr: hsl(0, 0%, 10%);
}

@layer components {
  body {
    font-family: "Inter", sans-serif;
  }

  input:focus {
    outline: none;
  }
}

.gradient-bg {
  background: linear-gradient(to bottom, #22c954, #000 140%);
}

.gradient-text {
  background: linear-gradient(to bottom, #22c954, #000 140%);
  background-clip: text;
  color: transparent;
}

.grid-col-full {
  grid-column: 1 / -1;
}

/* Nav */
.head-arr {
  transform: rotateZ(90deg);
}

/* Home */
.home-header-bg {
  background-image: url(../public/img/home/HeaderBlocks.png);
}

.blog-bg {
  background-image: url(../public/img/home/blog/net1.png);
}

/* Footer */
footer li {
  line-height: 2;
}

/* About */
.about-glance {
  background-image: url(../public/img/about/circle.png);
}

.about-pillar {
  background-image: url(../public/img/about/cube.png);
}

@media (max-width: 768px) {
  /* Nav */
  .head-arr {
    display: initial;
  }

  .active .head-arr {
    transform: rotateZ(270deg);
  }

  .need {
    display: none;
  }

  .active .need {
    display: block;
  }

  /* Footer */
  footer li {
    line-height: 1;
  }
}
