@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(to bottom, #22C954, #000 140%);
  background-clip: text;
  color: transparent;
}

.grid-col-full {
  grid-column: 1 / -1;
}

/* Nav */
.head-arr {
  transform: rotateZ(90deg);
}


/* Home */
.blog-bg {
  background-image: url(../public/img/home/Net.png);
}


/* Footer */
footer li {
  line-height: 2;
}



@media (max-width: 768px) {
  .head-arr {
    display: initial;
  }

  .active .head-arr {
    transform: rotateZ(270deg);
  }

  .need {
    display: none;
  }

  .active .need {
    display: block;
  }
}